@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: 'Red Hat Display';
    padding: 0;
    margin: 0;

}
body {
   background-image: url(./Media/Images/pattern-background-desktop.svg);
   background-repeat: repeat-x;
   background-position-x:40%;
   background-color: hsla(225, 100%, 92%, 0.699);
   display: flex;
   flex-direction: flex-start;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100vh;
   width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items:  center;
    height: 80vh;
    width: 90vw;
    max-width: 450px;
    max-height: 680px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 50px hsla(0, 0%, 0%, 0.37)
    
}

header img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: auto;  
 
}

h1 {
    padding-top: 8%;
    padding-bottom: 3%;
}

article {
    font-size: 16px;
    color: #94939A;
    text-align: center;
    font-weight: 500;
    line-height: 1.5em;
   
}

.order-summary {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: row;
    justify-content:space-between
    align-items: center;
    background-color: #F8F9FF;
    border-radius: 15px;
    width: 70%;
}

.summary__music-logo {
    margin-right: 0px;
  
}

.price {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    line-height: 0.8em;
    flex-grow: 1;
    padding-left: 5%

}


main .order-summary .price .summary__package-type {
    font-weight: bold;
}

main .order-summary .price .summary__package-price {
    color: #94939A;
    font-weight: 700;
}

.summary__change-order {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-left: 30%;

}
.summary__change-order a {
    color: #3829E1;
}

.order-summary .summary__change-order a:hover {
    text-decoration: none;
    font-weight: normal;
}

.buttons {
    display: flex; 
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 80%;

}

.buttons .payment-button {
    margin: 1em;
    margin-bottom: 2em;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #382AE1;
    border-color: transparent;
    box-shadow: 0px 10px 45px hsla(245, 75%, 52%, 0.592)
}

.buttons .payment-button:hover {
    background-color: #766CF2;
}

.buttons .payment-button .payment-button-text {
    color: white;
    font-weight: bold;
}

.buttons .payment-button a {
   text-decoration: none;
   font-size: 16px;
}

.buttons .cancel-button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    }

.buttons .cancel-button a {
    text-decoration: none;
    font-weight: bold;
    color:#94939A;
    font-size: 16px;
}

.buttons .cancel-button a:hover {
    color: black;
}

@media screen and (max-width: 510px) {
    .summary__change-order {
         padding-left: 10%;}
         main {
            height: 75vh; }
        }